<div class="container-fluid pr10 pl10">
    <div class="row m0">
        <div class="col-xs-12 col-md-12 p0">
            <div class="">
                <div class="col-xs-12 col-md-12 box113">
                    <h2 class="title"><i class="icons bacisDetailsIcon"></i> Industry Articles Links : </h2>
                    <!-- Table -->
                    <div class="scroll">
                        <table class="table content">
                            <thead>
                                <tr>
                                    <th width=30%>Name</th>
                                    <th>Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/091cmbtvt25ua6g05gbmsa9d2yltx0vn" target="_blank">Pharmaceutical Research & Development process</a></td>                                    
                                    <td>Overview of Drug development process and clinical trials.</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/6n2tfdz7cmoscbnj426aqyclt2u64l7e" target="_blank">Collaborative Protocol Writing Systems</a></td>
                                    <td>Research paper on Protocol Writing Tools and systems.</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/e40f9lqvgwq0au63023udri07dx7cqli" target="_blank">Connect Standards for Protocol Authoring</a></td>
                                    <td>Research paper on Role of Standards in Protocol Authoring.</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/5v5wfy7ab2z9qax425iv5pg3ujsa226r" target="_blank">NIH - Protocol Authoring Tool (PAT) </a></td>
                                    <td>Protocol Authoring Tool developed by Nation Institute of Health</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/atq75n4evxc7jozvodyjlltvdvybd0xm" target="_blank">NIH - ProtoType</a></td>
                                    <td>Protocol Authoring Tool developed by Nation Institute of Health. Successor of Protocol
                                        Authoring Tool(PAT)</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/5b3hxnyivga9i30f0i66kicpa2jkvgfp" target="_blank">Paragon Solutions : Structured Protocol Authoring</a></td>
                                    <td>Protocol Authoring Solution offered as a process by Paragon Solutions </td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/h55yc7nqh3c4xvkmi76aa0gj4iejt1vv" target="_blank">Sanofi ENCORE platform</a></td>
                                    <td>Sanofi's ENCORE (Enterprise Content Optimization& Reuse Engine) Platform for levering
                                        Structured Content from Protocol through Submission</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/74y1vttstca3kxh67o7wypjx2cfhcs7n" target="_blank">Genzyme : GetSMART program </a></td>
                                    <td>Genzyme Structured (Protocol) Authoring Proof‐of‐Concept Pilot</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/sc76ncxpti49h174oiadcsagp6xkxitc" target="_blank">Roche : Standards Driven Innovation </a></td>
                                    <td>Roche's Pilot for : Study Workflow Automation (SWA) via Metadata Repository</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/gyyzofcrk3voa3zfcha4voko54q7hpti" target="_blank">Medidata Designer </a></td>
                                    <td>Medidata Clinical Protocol Metadata Concept to Conclusion </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 box113">
                    <h2 class="title"><i class="icons bacisDetailsIcon"></i> Technology Articles Links : </h2>
                    <!-- Table -->
                    <div class="scroll">
                        <table class="table content">
                            <thead>
                                <tr>
                                    <th width=30%>Name</th>
                                    <th>Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/vtgssud6x8lx7mcfvifqfjvw1pk1uivo" target="_blank">Software Tool for Clinical Standards</a></td>
                                    <td>Software Tools for working with CDISC ODM,SDTM, Lab and define.xml</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/ffhr73mxwamnyu97x6683tfau025375b" target="_blank">Protocol Representation Model</a></td>
                                    <td>Paper on Protocol Representation Model details</td>
                                </tr>
                                <tr>
                                    <td><a href="https://cognizant-eba.box.com/s/g3m87f0kzih86ocu2shyewxcsmtjck43" target="_blank">Common Protocol Template</a></td>
                                    <td>Common Protocol Template Summary</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://cognizant-eba.box.com/s/xjzx08ar86v3pktay94c26gxjen9yv4e" target="_blank">Common Protocol Template - Technology Enabled Edition</a>
                                        <a href="https://cognizant-eba.box.com/s/vxopk4gt08jfdba8omsu69e6xo5onnej" target="_blank">Common Protocol Template - Basic Word Edition</a>
                                    </td>
                                    <td>Common Protocol Template Release 3.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>