<div class="container-fluid pr10 pl10">
    <div class="row m0">
        <div class="col-xs-12 col-md-12 p0">
            <div class="">
                <div class="col-xs-12 col-md-12 box113">
                    <h2 class="title"><i class="icons bacisDetailsIcon"></i> Terms & Definition</h2>
                    <!-- Table -->
                    <div class="scroll">
                        <table class="table content">
                            <thead>
                                <tr>
                                    <th width=20%>Term</th>
                                    <th>Definition</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span style="font-weight:bold">Clinical Trial\Study</span></td>
                                    <td>It is a systematic study of new drug(s) in human subject(s) to generate data for discovering
                                        and/or verifying the clinical, pharmacological , and/or adverse effects with the
                                        objective of determining safety and /or efficacy of the a new drug.
                                        <a href="https://cognizant-eba.box.com/s/091cmbtvt25ua6g05gbmsa9d2yltx0vn" target="_blank">Pharmaceutical Research & Development process</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td><span style="font-weight:bold">Clinical Protocol</span></td>

                                    <td>Clinical Protocol is a document that describes how a clinical trial will be conducted
                                        (the objective(s), design, methodology, statistical considerations and organization
                                        of a clinical trial,) and ensures the safety of the trial subjects and integrity
                                        of the data collected.
                                        <a href="https://cognizant-eba.box.com/s/57u8bg7z3uh4fb3r2se06hjl3ekk53k4" target="_blank"> Sample protocol document</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td><span style="font-weight:bold">Electronic Data Capture (EDC)</span></td>
                                    <td>An EDC system is software that stores patient data collected in clinical trials. Patient
                                        Data is transcribed into the system and saved in an electronic case report form (eCRF).
                                        Most common EDCs are : Medidata- RAVE , Oracle - RDC (Remote Data Capture).
                                    </td>

                                </tr>
                                <tr>
                                    <td><span style="font-weight:bold">Clinical Trial Management System (CTMS)</span></td>
                                    <td>A Clinical Trial Management System (CTMS) is a software system used by biotechnology
                                        and pharmaceutical industries to manage clinical trials in clinical research. The
                                        system maintains and manages planning, performing and reporting functions, along
                                        with participant contact information, tracking deadlines and milestones.</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.transceleratebiopharmainc.com/" target="_blank"><img vertical-align="top" src="images/Transcelerate.png" height="60" width="180"
                                            />
                                        </a>
                                    </td>
                                    <td>TransCelerate BioPharma Inc. was launched in 2012 as a non-profit organization to collaborate
                                        across the global biopharmaceutical research and development community to identify,
                                        prioritize, design and facilitate implementation of solutions designed to drive the
                                        efficient, effective and high quality delivery of new medicines. </td>
                                </tr>
                                <tr>
                                    <td><span style="font-weight:bold">Common Protocol Template</span> </td>
                                    <td><a href="http://www.transceleratebiopharmainc.com/initiatives/common-protocol-template/"
                                            target="_blank">Common Protocol Template </a>is an TransCelerate initiative of working
                                        with industry stakeholders and regulators to create a model clinical trial protocol
                                        template containing a common structure and model language. It will utilize libraries
                                        to facilitate common language in areas specific to patient population and therapeutic
                                        areas. The common protocol template is a foundational element in the longer-term
                                        movement towards an electronic protocol.</td>
                                </tr>
                                <tr>
                                    <td><span style="font-weight:bold">
										<a href="https://www.cdisc.org/" target="_blank"><img vertical-align="top" src="images/cdisc_logo_sm.png" height="25" width="90"/></a><br>Clinical Data Interchange Standards Consortium</span></td>
                                    <td>CDISC is a 501(c)(3) global, non profit charitable organization that develops data standards
                                        to streamline clinical research and enable connections to healthcare.</td>
                                </tr>
                                <tr>
                                    <td><span style="font-weight:bold">Protocol Representation Model
										(PRM)</span></td>
                                    <td>Protocol Representation Model(PRM), designed by CDISC, provides a standard for planning
                                        and designing a research protocol with focus on study characteristics such as study
                                        design, eligibility criteria, and requirements from the ClinicalTrials.gov, World
                                        Health Organization (WHO) registries, and EudraCT registries. PRM assists in automating
                                        CRF creation and EHR configuration to support clinical research and data sharing.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>